@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code {
    font-family: "Poppins", sans-serif;
  }

  .leftSideBg {
    background: linear-gradient(324.93deg, #007aff 0.74%, #0f70da 100%);
  }

  .blueCircle {
    background: linear-gradient(324.93deg, #0f70da 0.74%, #007aff 100%);
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    background: url(/src/assets/calendar.png) no-repeat;
    width: 35px;
    height: 35px;
  }
}
